# Hugo default output directory
/public
# themes are symlinked from flake inputs by the dev shell
/themes
/result
# hugo server lock
.hugo_build.lock

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
